---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
    <main>
        <h1> Hello, this is the about page </h1>
        <a href="/"> Back to index </a>
    </main>
</Layout>

<style>
    main h1 {
        text-align: center;
        color: white;
    }
</style>